[submodule "api"]
        path = api
        url = https://github.com/Universidad-de-Los-Lagos/bienestar_api.git
[submodule "frontend"]
        path = frontend
        url = https://github.com/Universidad-de-Los-Lagos/bienestar_frontend.git