[submodule "api"]
	path = backend
	url = git@github.com:Universidad-de-Los-Lagos/bienestar_api.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Universidad-de-Los-Lagos/bienestar_frontend.git
